.review-card{
    /* border: 1px solid black; */
}

.review-item{
    padding: 10px;
    width: 28rem;
    border-radius: 20px;
    margin: 10px;
    border: 1.5px solid black;
}

.content img{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.content .header{
    font-weight: bold;
    font-size: 1.3rem;
}

.star-ratings >span{
    font-size: 1rem !important;
    font-weight: normal !important;
}